main {
    background-color: #6481f2;
    padding: 10px;
  }
#agendamento {
    box-sizing: border-box;
}

#agendamento .txt h2 {
    color: #325bc5;
    margin-top: 20px;
    text-align: center;
}

#agendamento legend {
    color: #325bc5;
    margin-top: 20px;
    font-size: 1.54em;
    text-align: left;
}

#agendamento form {
    background-color: #fff;
    width: 90%;
    margin: 0px auto;
    border-radius: 10px;
}

#agendamento label {
    display: inline-block;
    line-height: 1.5;
    font-size: inherit;
    color: #495057;
    margin-left: 5px;
}

#agendamento input,
select {
    display: block;
    width: 100%;
    padding: .3rem .75rem;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
#agendamento .small {
    flex-basis: 23%;
  }

#agendamento .medium {
    flex-basis: 47%;
  }  
  
#agendamento .larger {
    flex-basis: 74%;
  }

#agendamento .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#agendamento .row.unico{
    justify-content: left;
    padding-left: 10px;
}

#agendamento fieldset {
    padding: 15px ;
    margin-bottom: 20px;
    border: none;
}

#agendamento .button {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 1rem auto;
    background-color: #198754;
    width: 40%;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#agendamento .button:hover {
    background-color: #146c43;
    color: #fff;
}