#formCad{
    width: 90%;
    margin: 10px auto;
}

#formCad div.form-group > label{
    font-size: 1.1em;
    padding-left: 10px;
    padding-bottom: 5px;
}

#formCad fieldset{
    padding: 15px 0;
}

#formCad .row{
    margin-bottom: 10px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#formCad .medico{
    display: none;
}

@media (max-width: 720px){
    .row {
        flex-direction: column;
    }
}